body {
  color: #34495e;
  font-family: "proxima-nova-soft", sans-serif;
  background: #F7F6F5;
}

h1, h2, h3, h4, h5 {
  color: #34495e;
  font-family: "proxima-nova-soft", sans-serif;
  font-weight: 900;
  letter-spacing: -0.02em;
}

.center {
  text-align: center;
}

.todo-day-container {
  padding-bottom: 30px;
  background: #fff;
  margin-top: 100px;
  border: 2px solid #EBEBEB;
  border-radius: 4px;
}

ul.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.todo-item {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #e3e3e3;
  background: #fbfbfb;
  padding: 10px;
  border-radius: 4px;
  color: #888;
}

.btn.btn-circle {
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 900;
  border-radius: 50%;
}

